$theme-color = convert(hexo-config('themeColor'))

/* 详情 */
.post-content{
    .postad-container{
        margin-top: 10px;
        padding-top: 10px;
        overflow: hidden;
        border-top: 1px dashed #e6e6e6;
    }
}

/* 列表 */
.post-list{
    .post-item{
        .title {
            flex: 1;
        }
        .cover{
            width: 20px;
            height: 20px;
            margin-left: 10px;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

/* 版权 */
.post-copyright{
    margin: 15px 0;
    padding: 15px;
    background-color: var(--bg-block-md-quote);
    border-top: 1px dashed #e6e6e6;
    border-bottom: 1px dashed #e6e6e6;
    color: #aaa;
    font-size: 1.4rem;
    li{
        list-style: none;
        line-height: 1.8;
        a{
            color: $theme-color;
        }
    }
}
.bmqy_copyright{
    margin: 15px 0;
    padding: 15px;
    background-color: var(--bg-block-md-quote);
    border-top: 1px dashed #e6e6e6;
    border-bottom: 1px dashed #e6e6e6;
    color: $theme-color;
    font-size: 1.4rem;
    line-height: 1.8;
}
