header.header {
    width: 100%;
    position: relative;
    background: url(//image.bmqy.net/wp-content/themes/bmqy-next/images/headbg.jpg) no-repeat center 70%;
    background-size: cover;
}
.site-subtitle {
    color: #ddd;
    text-shadow: 1px 2px 23px #007acc;
}
.custom-logo-image {
    background: transparent;
    padding: 0;
}
.brand {
    background: #007acc;
}
.btn {
    background: #007acc;
    border: 2px solid #007acc;
}
.post-button .btn {
    background: #007acc;
}
.sidebar-toggle {
    background: #007acc;
}
.back-to-top {
    background: #007acc;
}
.pagination .page-number.current {
    background: #99d6ff;
    border-top-color: #007acc;
}
.pagination .next:hover, .pagination .page-number:hover, .pagination .prev:hover {
    border-top-color: #007acc;
}
.reward-container button {
    color: #007acc;
    border: 2px solid #007acc;
}
.reward-container button:hover {
    background: #007acc;
    color: #fff;
}

.bmqy_copyright{
    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px dashed #e6e6e6;
    border-bottom: 1px dashed #e6e6e6;
    color: #007acc;
    font-weight: bold;
}

.cps-info{

}
.cps-info a{
    display: inline-block;
    margin: 0 5px;
}
