header.header {
    position: relative;
    background: url(//image.bmqy.net/wp-content/themes/bmqy-next/images/headbg.jpg) no-repeat center 70%;
    background-size: cover;
}
.site-subtitle {
    color: #ddd;
    text-shadow: 1px 2px 23px #007acc;
}
.custom-logo-image {
    background: transparent;
    padding: 0;
}